<!DOCTYPE html>
<html class="h-100">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>{{title}}</title>
</head>

<body class="d-flex flex-column h-100">
  {{>header}}


  <main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="row mt-3">
        <div class="col-xs-12 col-md-3">
          <h3>Sidebar</h3>
        </div>
        {{!-- <div class="col-xs-12 col-md-1"></div> --}}
        <div class="col-xs-12 col-md-9 flex-wrap d-flex flex-row">
          {{#if admin}}
          {{#each posts}}
          <div class="card mr-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{this.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{this.author}}</h6>
              <p class="card-text">{{this.content}}</p>
              <a href="/edit/{{this.id}}" class="card-link">Edit</a>
              <a href="/delete/{{this.id}}" class="card-link">Delete</a>
              <a href="/read/{{this.id}}" class="card-link">Read more...</a>
            </div>
          </div>
          {{/each}}
          {{else}}
          {{#each posts}}
          <div class="card mr-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{this.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{this.author}}</h6>
              <p class="card-text">{{this.content}}</p>
              <a href="/read/{{this.id}}" class="card-link">Read more...</a>
            </div>
          </div>
          {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
  </main>

  {{>footer}}

  {{>scripts}}
</body>

</html>