<header class="sticky-top">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">দ্বিমিক পাঠশালা</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/courses">Courses</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right mr-5">
                <li class="nav-item">
                    <a class="nav-link" href="/account">My Account</a>
                </li>
            </ul>
            {{!-- <ul class="navbar-nav mr-auto">
                {{#each pages}}
                <li class="nav-item">
                    <a class="nav-link" href="/{{this.slug}}">{{this.title}}</a>
                </li>
                {{/each}}
            </ul> --}}
            {{!-- <ul class="navbar-nav navbar-right mr-5">
                {{#if user}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">{{user.name}}</a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/">Profile</a>
                        <a class="dropdown-item" href="/cart/checkout">My Cart<span
                                class="badge badge-pill badge-primary">{{cart.length}}</span></a>
                        {{#if admin}}
                        <a class="dropdown-item" href="/admin/pages">Admin Area</a>
                        {{/if}}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/logout">Log out</a>
                    </div>

                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/users/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/login">Login</a>
                </li>
                {{/if}}
            </ul> --}}
        </div>
    </nav>
</header>